# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Data_Binding_Develop.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Github\Data_Binding_Develop\.idea\.idea.Data_Binding_Develop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
